.container {
  background-color: white;
  padding: 10px 10px 0 10px;
  border-radius: 14px;
  margin: 10px 20% 0 20%;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-right: 20px;
}
.meal {
  list-style-type: none;
}
.meal p {
  font-weight: Bold;
}
.btn {
  width: 70px;
  height: 25px;
  background-color: #8a2b06;
  color: white;
  border-radius: 15px;
  border: none;
  outline: none;
}
