.container {
  background-color: white;
  margin: 0 30% 0 30%;
  padding: 20px;
  border-radius: 15px;
  z-index: 19;
}

.amount {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.container btn {
  margin-left: 60%;
  position: relative;
  right: 0;
}
